/*ҳ��*/

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0px;
	border-radius: 4px;
}

.pagination {
	display: inline;
	text-align: right;
	float: right;
}

.pagination> li {
	display: inline;
}

.pagination> li> a,
.pagination> li> span {
	position: relative;
	float: left;
	padding: 0px;
	margin: 0;
	width: 34px;
	height: 34px;
	line-height: 32px;
	text-align: center;
	/*margin-left: -1px;*/
	/*line-height: 1.42857143;*/
	color: #c30505;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left: none;
}

.pagination> li> a:hover,
.pagination> li> span:hover,
.pagination> li> a:focus,
.pagination> li> span:focus {
	z-index: 3;
	color: #c30505;
	background-color: #eee;
	border-color: #ddd;
}

.pagination> li:first-child> a {
	border-left: 1px solid #ddd;
	line-height: 30px;
}

.pagination> li:first-child> a span.forst {
	color: #D6D6D6;
}

.pagination> li:first-child> a span:hover.forst {
	color: #D6D6D6;
}

.pagination> li:last-child> a {
	line-height: 30px;
}
/*����IE*/
.compatibleWithIE1{
	line-height: 30px;
}
.pagination> li:last-child> a span.lasts {
	color: #D6D6D6;
}
/*����IE*/
.compatibleWithIE2{
	color: #D6D6D6;
}
.pagination> .active> a,
.pagination> .active> span,
.pagination> .active> a:hover,
.pagination> .active> span:hover,
.pagination> .active> a:focus,
.pagination> .active> span:focus {
	background-color: #c30505;
	border-color: #c30505;
	/*ant���*/
	z-index:3;
	color:#fff;
	cursor:default;
}

.yeshu {
	display: inline-block;
	color: #3B3D3E;
	margin: 0px 15px;
}

.times input {
	width: 34px;
	border: 1px solid #d6d6d6;
	margin: 0px 5px;
	color: #c30505;
	padding:8px 0;
}

.queren a {
	display: inline-block;
	border: 1px solid #d6d6d6;
	line-height: 32px;
	width: 55px;
	text-align: center;
	color: #3B3D3E;
	border-radius: 4px;
}

.pagination> li> a.sian {
	border-top: none;
	border-bottom: none;
	color: #D6D6D6;
}

.pagination> li> a.sian:hover {
	background: none;
}

.page_time {
	float: right;
	margin: 20px 0px;
}

.text-right {
	margin-right: 45px;
}

/*ҳ��*/