.main{width:1200px;margin:0 auto;}
.mt20{margin-top:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pt25{padding-top:25px;}
.ml45{margin-left:45px!important;}
.noborder{border:0!important;}
/*banner*/
.product-banner{background:url(product-banner.jpg) no-repeat center center;height:425px;}
.product-banner .main{position:relative;}
.product-banner h2{font-size:36px;color:#fff; position:absolute;top:230px;left:0; font-weight:bold;}
.product-banner span{font-size:18px;color:#fff;position:absolute;top:280px;left:0; font-weight:bold;}

/*产品中心*/
.product-module {background:#fff;}
.pub-title{height:22px; line-height:22px;border-left:6px solid #ff413c;}
.pub-title a{padding-left:15px;float:left;font-size:16px;color:#142c69;}
.pub-title a.more{float:right;color:#888888;font-size:12px;margin-right:25px;}
.p-search{width:177px;height:20px;border:1px solid #dddddd; float:right; overflow:hidden;margin-right:31px;}
.p-s-ipt{width:137px;border:0;line-height:20px; float:left; text-align:center; color:#5e5e5e;font-size:12px;}
.p-s-btn{background:url(p-search-ico.jpg) no-repeat center center;width:40px;height:20px;border:0;margin:0;padding:0;}
.product-module-pannel{padding:25px 0 0 45px; overflow:hidden;}
.product-module-pannel .left-pannel{width:690px; float:left;}
.product-module-pannel .left-pannel .words-line{height:40px; line-height:40px;margin-bottom:10px;}
.product-module-pannel .left-pannel .words-type{font-size:14px;color:#1246b6;background:#f2f5fd;padding:10px 25px;}
.product-module-pannel .left-pannel .words-line a{color:#333333;font-size:12px;margin:0 20px;}
.product-module-pannel .left-pannel .words-line a:hover{color:#6898e6; text-decoration:none;}
.product-module-pannel .left-pannel hr{height:1px;border:none;border-top:1px solid #dddddd;margin-top:19px;}
.product-module-pannel .left-pannel .p-more{text-align:right;width:100%;}
.product-module-pannel .left-pannel .p-more a{color:#888888;font-size:12px;}
.product-module-pannel .left-pannel .p-more a:hover{color:#6898e6; text-decoration:none;}
.product-module-pannel .right-pannel{width:365px;float:right;padding:0 0 0 100px;}
.product-module-pannel .right-pannel a img{width:337px;height:185px;}
/*现金理财*/
.xjlc-box{background:#fff; overflow:hidden;}
.xjlc-type{background:url(xjlc-bg.jpg) no-repeat left bottom;height:185px;width:380px; float:left;}
.xjlc-type .pt25 a{color:#333333;font-size:14px;padding-left:23px;}

.col-3{width:335px;border:1px solid #ddd;float:left;margin-left:60px; display:inline; overflow:hidden;}
.col-3 .pub-title{border:0;}
.col-3 .pub-title a{padding-left:20px;}
.col-3 p{line-height:24px;color:#666666;}
.col-3 p.name{color:#1246b6;font-size:14px;font-weight:bold;}
.ckxq-link{width:80px;height:27px;display:block;border:1px solid #ff413c;line-height:27px; text-align:center;color:#ff413c;font-size:12px;margin-top:15px;}

/*高端理财*/
.gdlc-box{background:#fff; overflow:hidden;margin-bottom:20px;}
.gdlc-box .col-3:hover{ box-shadow:0 0 2px 2px #ddd;}
.gdlc-box .col-3{margin-bottom:17px;}
.gdlc-box .col-3 div{overflow:hidden;}
.gdlc-box .col-3 p{padding-bottom:10px;}
.gdlc-box .ckxq-link{float:right;}

.p-gdlc-pic1,.p-gdlc-pic2,.p-gdlc-pic3{height:184px; line-height:184px; text-align:center;}
.p-gdlc-pic1 a,.p-gdlc-pic2 a,.p-gdlc-pic3 a{color:#fff;font-size:16px; display:block;}
.p-gdlc-pic1{background:url(product-jxb-pic1.jpg) no-repeat left center;}
.p-gdlc-pic2{background:url(product-jxb-pic2.jpg) no-repeat left center;}
.p-gdlc-pic3{background:url(product-jxb-pic3.jpg) no-repeat left center;}

/*****销售金融产品信息公示****/
.mt-150{margin-top:-150px;}
.pt30{padding-top:30px!important;}
.xsjrcpxx-banner{background:url(xsjrcpxx-banner.jpg) no-repeat center center;height:500px;}
.xsjrcpxx-banner .address{position:absolute;top:118px; left:0;}
.xsjrcpxx-banner h2{top:200px;}
.xsjrcpxx-banner .tags{position:absolute;top:270px;left:0;}
.xsjrcpxx-banner .tags a{border:1px solid #fff; color:#fff;margin-right:20px; display:inline;padding:4px 15px;font-size:16px;}
.xsjrcpxx-banner .tags a:hover,.xsjrcpxx-banner .tags a.on{background:#fff;color:#132562;font-weight:bold; text-decoration:none;}
/*面包屑导航*/
.address{height:45px; line-height:45px;color:#fff;}
.address a{color:#fff;font-size:12px;padding:0 2px;}

.xsjrcpxx-tabs{background:#dddddd;height:36px; line-height:36px; overflow:hidden;}
.xsjrcpxx-tabs a{font-size:14px;padding:0;background:url(tabs-line.gif) no-repeat right center; display:inline;border-top:2px solid #ddd;margin:0; float:left;color:#777777; text-align:center;height:34px;}
.xsjrcpxx-tabs a b{color:#d80000;font-weight:normal;}
.xsjrcpxx-tabs a.a1{width:100px;}
.xsjrcpxx-tabs a.a2{width:193px;}
.xsjrcpxx-tabs a.a3{width:213px;}
.xsjrcpxx-tabs a.a4{width:223px;}
.xsjrcpxx-tabs a.a5{width:157px;}
.xsjrcpxx-tabs a.a6{width:157px;}
.xsjrcpxx-tabs a.a7{width:157px;background:none;}
.xsjrcpxx-tabs a.on{border-top:2px solid #c20000;background:#fff; color:#d20005;}
.no-bg{background:none!important;}

.cpxx-list{padding:0 30px;background:#fff; overflow:hidden;margin-bottom:30px;}
.search-tip{overflow:hidden;}
.cpxx-list .tip{font-size:14px;color:#212121;padding:30px 0 25px 0; float:left;width:800px;}
.cpxx-list .tip a{color:#d80000;}
.search-box{float:right;margin-top:25px;margin-bottom:25px;height:30px;position:relative;width:288px;}
.search-box input{border:1px solid #e0e0e0;font-size:14px; color:#a9a9a9;height:28px; line-height:28px;padding:0 10px;border-radius:14px;width:265px;outline: none;}
.search-box .search-btn{background:url(zxImga_45.png) no-repeat center center;border:0;height:28px;width:40px; position:absolute;right:10px;top:1px; cursor:pointer;outline: none;}

.th-box{background:#c20000;height:32px; line-height:32px; overflow:hidden;}
.cpxx-list .th-box span{padding-left:25px;font-size:16px;font-weight:bold;color:#fff; float:left;}
.cpxx-list .th1{width:450px;}
.cpxx-list .th2{width:275px;}
.cpxx-list .th3{width:100px; text-align:center;}
.cpxx-list .th4{width:100px; text-align:center;}
.cpxx-list .th5{width:75px; text-align:center;}

.list-con{overflow:hidden;}
.list-con li{height:40px; line-height:40px;}
.list-con li span{padding-left:25px;float:left; color:#222222;font-size:14px;}
.list-con li span.th5{cursor:pointer;}
/*分页*/
.pages{padding:50px;height:29px;width:650px;margin:0 auto;}
.pages a{font-size:14px;color:#999999;height:27px;width:27px; border:1px solid #dddddd; float:left;margin:0 2px;display:inline; text-align:center; line-height:27px;}
.pages a:hover,.pages a.cur{background:#c20000;border:1px solid #c20000; text-decoration:none;color:#fff;}
.pages span{font-size:14px; float:left;width:29px; line-height:29px;}
.pages .prev-page,.pages .next-page{width:60px;}
.pages .prev-page{font-size:14px;color:#999999;height:27px;border:1px solid #dddddd; float:left;margin:0 2px;display:inline; text-align:center; line-height:27px;}
.pages .next-page{font-size:14px;color:#999999;height:27px;border:1px solid #dddddd; float:left;margin:0 2px;display:inline; text-align:center; line-height:27px;}
.pages .total{width:80px;margin-left:10px;}
.pages .page-num{width:80px;}
.pages .page-num input{width:24px;height:24px; line-height:24px;padding:0;margin:0 2px;border:1px solid #dddddd; text-align:center;}
.pages .goPage{font-size:14px;color:#999999;height:27px;width:40px;text-align:center;border:1px solid #dddddd; float:left;margin:0 2px;display:inline; text-align:center; line-height:27px; cursor:pointer;}

/*弹出信息层*/
.layer-box{position:relative;width:678px;background:#fff;padding:40px; display:none;}
.layui-m-layercont .layer-box{display:block;}
.layer-box .close-btn{height:25px;width:25px; position:absolute;top:10px; right:10px; cursor:pointer;}
.layer-title{font-size:24px;font-weight:bold;color:#555555;}
.layer-con-list{margin:10px 0;border:1px solid #dddddd;}
.layer-con-list ul li{width:100%;overflow:hidden;}
.layer-con-list ul li span{padding:10px 5px;width:400px; float:left;border-left:1px solid #dddddd; color:#000000;}
.layer-con-list ul li .b-right{width:240px; float:left; text-align:right;border-left:0;}
.layer-box .close-box{background:#ff620d;margin:20px auto 0 auto;text-align:center;height:34px; line-height:34px;width:88px;color:#fff;font-size:16px; cursor:pointer;}

/*中信估值*/
.zxgz{}
.zxgz .cpxx-list .th4{text-align:left;}
.zxgz .xsjrcpxx-tabs a.a2{width:179px;}
.zxgz .xsjrcpxx-tabs a.a3{width:85px;}
.zxgz .xsjrcpxx-tabs a.a4{width:136px;}
.zxgz .xsjrcpxx-tabs a.a5{width:135px;}
.zxgz .xsjrcpxx-tabs a.a6{width:131px;}
.zxgz .xsjrcpxx-tabs a.a7{width:165px;background:url(tabs-line.gif) no-repeat right center;}
.zxgz .xsjrcpxx-tabs a.a8{width:167px;}
.zxgz .xsjrcpxx-tabs a.a9{width:102px;background:none;}
.zxgz .xsjrcpxx-tabs a.on{border-top:2px solid #c20000;background:#fff; color:#d20005;}


/*产品中信搜索列表*/
.pt118{padding-top:118px;}
.product-search{}
.product-search .product-module-pannel{padding:25px 0 0 38px;}
.product-search .address a,.product-search .address{color:#555555;}
.product-search .address{height:45px; line-height:45px;}
.product-search .product-module-pannel .left-pannel{width:1014px; border:1px solid #ddd; float:none;margin:0;padding:20px 54px;}
.product-search .product-module-pannel .left-pannel .words-type{font-size:16px;}
.product-search .product-module-pannel .left-pannel .words-line a{font-size:14px;}
.product-search .product-module-pannel .left-pannel .p-more{border-top:1px solid #ddd; height:30px; line-height:30px; display:block;}

.product-search .cpxx-list{padding:0 38px;}
.product-search .cpxx-list .th-box span{padding:0; text-align:center;}
.product-search .cpxx-list span.th1{width:215px; background:url(product-arrow-up.png) no-repeat 125px center;}
.product-search .cpxx-list span.th2{width:370px;}
.product-search .cpxx-list span.th3{width:300px;background:url(product-arrow-up.png) no-repeat 190px center;}
.product-search .cpxx-list span.th4{width:230px;}
.product-search .cpxx-list span.th1.on{background:url(product-arrow-down.png) no-repeat 125px center;}
.product-search .cpxx-list span.th3.on{background:url(product-arrow-up.png) no-repeat 190px center;}
.product-search .cpxx-list .list-con li{padding:15px 0; height:auto; line-height:20px; overflow:hidden; border-bottom:1px solid #ddd;}
.product-search .cpxx-list .list-con li span.th2,.product-search .cpxx-list .list-con li span.th3,.product-search .cpxx-list .list-con li span.th4{ line-height:40px;}
.product-search .cpxx-list .list-con li span{ text-align:center;padding:0;}
.product-search .cpxx-list .list-con li span b{font-size:12px; color:#ed404a; display:block; font-weight:normal;}
.product-search .cpxx-list .list-con li span a.Alink{ height:38px; width:168px;border:1px solid #ff413c; display:block;color:#c20001;font-size:16px; line-height:40px;margin:0 auto;}
.product-search .cpxx-list .list-con li.on{background:#f4f4f4;}
.product-search .cpxx-list .list-con li.on span a.Alink{background:#c20001; color:#fff; border:1px solid #c20001;}

.product-search .pages{float:right;margin:0;padding:20px 0;}


/*******产品详情页******/
.con-products{background:#fff; overflow:hidden;}
.con-products .pub-title{padding-left:25px;font-size:20px;color:#142c69;}
.con-products .pub-title b{font-size:12px;padding-left:5px;}
.con-products .left-pannel{width:495px; float:left; margin-left:35px;}
.con-products .left-pannel .tags{width:100%; padding:15px 0; overflow:hidden;}
.con-products .left-pannel .tags span{font-size:12px; color:#1246b6;padding:5px 15px; background:#f2f5fd; margin-right:10px; display:inline; float:left;}

.new-data{padding:20px; background:#f2f5fd;margin-top:10px;}
.new-data .new-data-num{overflow:hidden;}
.new-data .new-data-num span{float:left; line-height:40px; height:40px;font-size:14px; color:#292a35;}
.new-data .new-data-num span.data-num{width:270px;}
.new-data .new-data-num span.data-time{width:185px;}
.new-data .new-data-num span.data-num b{color:#ed404a;font-size:30px;}
.new-data .new-data-num span.data-time b{font-weight:normal;color:#7d7d83;}
.new-data .new-data-num span.data-sy{width:100%;}
.new-data .new-data-num span.data-sy b{font-weight:normal;color:#7d7d83;}

.data-btm{margin:35px 30px; overflow:hidden; overflow:hidden;}
.data-btm .btm-lft{ float:left; height:122px; position:relative;width:310px;}
.data-btm .btm-rght{float:right;width:122px;height:122px;}
.btm-rght img{width:122px;height:122px;}
.data-btm .btm-lft p{height:32px; line-height:32px;font-size:14px; color:#292a35;}
.data-btm .btm-lft p b{color:#ed404a;}
.data-btm .ewm-tip{position:absolute;bottom:0; left:0;}

.con-products .rgt-pannel{width:590px; float:right;margin-right:35px;}
.chart{width:590px;height:350px;}
.chart-head{ overflow:hidden;}
.chart-head .name{width:88px;height:24px; line-height:24px; float:left;border:1px solid #ddd; text-align:center;}
.chart-head .tags{width:260px; float:right; height:24px; line-height:24px; overflow:hidden;}
.chart-head .tags span{padding:5px 10px;margin:0 10px;text-align:center;font-size:12px; cursor:pointer;}
.chart-head .tags span.on{background:#e8ebf0;}
.chart-info{height:32px; line-height:32px;font-size:14px; color:#292a35;}

/*tab切换*/
.content-tab{background:#fff; overflow:hidden;}
.c-tabs{height:45px;background:#e0e0e0;  }
.c-tabs span{float:left;border-top:2px solid #e0e0e0; padding:0 30px; display:inline; color:#999999; font-size:16px;line-height:43px; cursor:pointer;}
.c-tabs span.on{background:#fff; border-top:2px solid #c20000;}
.c-tab-box{padding:35px;}
.content-tab .pub-title{padding-left:10px;font-size:16px;color:#142c69;}

.c-tab-box{overflow:hidden;}
.c-tab-box .lft-box{float:left;width:525px;}
.c-pannel1{} 
.c-pannel1-con{padding:20px 0 20px 15px; height:98px;}
.c-pannel1-con p{ line-height:24px;}
.c-pannel2-con{margin:20px 0 0 0; border:1px solid #ddd; background:#f4f4f4;}
.c-pannel2-con div{height:40px; line-height:40px;padding:0 30px;}
.c-pannel2-con div.bg{background:#fff;}
.c-pannel2-con div span{width:50%; float:right;}

.c-tab-box .rgt-box{ float:right;width:525px;}
.lsjz-con{border:1px solid #ddd;margin:20px 0 0 0;}
.lsjz-con .th-head{padding:0 25px;background:#f4f4f4; overflow:hidden;}
.lsjz-con .th-head span{font-weight:bold;color:#212121;}
.lsjz-con span{float:left;width:20%; height:40px; line-height:40px;font-size:12px;}
.center{ text-align:center;}
.lsjz-con ul{overflow:hidden;}
.lsjz-con ul li{height:40px;padding:0 25px;}
.cpsm-box{border:1px solid #ddd;}
.cpsm-box ul li{height:66px; line-height:66px;padding:0 25px;}
.cpsm-box ul li span{float:right;height:66px; line-height:66px;font-size:14px;}
.cpsm-box ul li a{color:#212121;font-size:14px;}


.times input{text-align:center;}
.product-search .product-module-pannel .left-pannel .words-line a.on{font-size:14px;color:#6898e6;}
.product-search .cpxx-list .th-box span.th3{background: url(product-arrow-up.png) no-repeat 210px center;}
.product-search .cpxx-list .th-box span.th1{background: url(product-arrow-up.png) no-repeat 125px center;}
.product-search .cpxx-list .th-box span.th1.on{background: url(product-arrow-down.png) no-repeat 125px center;}
.product-search .cpxx-list .th-box span.th3.on{background: url(product-arrow-down.png) no-repeat 210px center;}
.product-search .cpxx-list span.th3,.product-search .cpxx-list span.th1,.product-search .cpxx-list span.th3.on,.product-search .cpxx-list span.th1.on{background:none; cursor:pointer;}
.product-search .cpxx-list .list-con li span a.Alink{cursor:pointer;}

/*天天利财页面*/
.ttlc-banner a:hover,.ttlc-others a:hover{ text-decoration:none; cursor:pointer;}
.ttlc-banner{background:url(ttlc-banner.jpg) no-repeat center bottom;height:356px;padding-top:118px;}
.ttlc-banner .ttlc-b-txt{padding-left:85px;width:520px;padding-top:60px;}
.ttlc-banner .ttlc-b-txt h2{font-size:32px; color:#fff;font-weight:bold; height:80px; line-height:80px;}
.ttlc-banner .ttlc-b-txt h2 b{font-size:14px;padding-left:36px; background:url(ttlc-banner-icon.gif) no-repeat 10px center; font-weight:normal;}
.ttlc-banner .ttlc-b-txt p{font-size:14px; color:#fff;line-height:24px; font-weight:bold;}
.ttlc-banner .ttlc-b-txt a.btn{width:106px; height:29px; text-align:center; line-height:29px; border:1px solid #fff; color:#e6e6e9;font-size:16px;display:block;margin-top:20px;border-radius:3px;font-weight:bold;}

/*天天利财banner下模块1*/
.ttlc-box1{margin-top:36px; overflow:hidden;width:1220px; margin-left:-20px;}
.ttlc-box1-item{float:left;width:590px;background:#fff;height:210px; margin-left:20px;}
.ttlc-box1-item .ttlc-box1-pic{float:left; height:210px;width:270px;}
.ttlc-box1-item .ttlc-box1-pic a img{height:210px;width:270px;}
.ttlc-box1-item .ttlc-box1-txt{float:left;margin-left:37px;width:260px;}
.ttlc-box1-item .ttlc-box1-txt a{background:url(ttlc-box1-icon.gif) no-repeat left center; color:#f22f33;padding-left:8px; font-size:18px;margin:45px 0 20px 0; display:block;}
.ttlc-box1-item .ttlc-box1-txt p{color:#191919; line-height:28px;}
/*天天利财tab切换*/
.ttlc-tabbox{background:#fff;}

.ttlc-tabbox .c-tab-box{}
	.ttlc-cpzl-con dl{border:1px solid #ddd;width:100%; overflow:hidden; border-bottom:0;}
	.ttlc-cpzl-con dl dt{float:left;width:185px;padding-right:25px; text-align:right;font-size:16px; color:#292a35;font-weight:bold;}
	.ttlc-cpzl-con dl dd{font-size:14px; color:#292a35;width:520px;float:left; border-left:1px solid #ddd; padding:15px 25px;}
	.ttlc-cpzl-con dl.last{border-bottom:1px solid #ddd;}
.ttlc-faq-list{padding:0 40px; }
.ttlc-faq-list dl{border-bottom:1px solid #eeeeee;padding:20px 0;}
.ttlc-faq-list dl dt{background:url(ttlc-faq-ico.gif) no-repeat left center;padding:10px 0 10px 30px;}
.ttlc-faq-list dl dt a{font-size:18px;color:#000;}
.ttlc-faq-list dl dd{color:#696868;font-size:14px; line-height:24px; color:#696868;}

.faq-bottom{padding:10px 40px; }
.more-link{float:left;}
.more-link a{color:#1247b6;}
.faq-bottom .pages{float:right;padding:0;}

.ttlc-page{}
.ttlc-page .cpxx-list .th-box span.th1,.ttlc-page .cpxx-list .th-box span.th3,.ttlc-page .cpxx-list .th-box span.th1.on,.ttlc-page .cpxx-list .th-box span.th3.on{background:none;}
.ttlc-others{margin-top:20px;background:#fff;}
.ttlc-module-head{width:100%; background:#fff; overflow:hidden;padding:20px 0;}
.ttlc-module-head .lft{float:left;width:200px;border-left:6px solid #ff413c; font-size:20px; color:#142c69; padding-left:16px;}
.ttlc-module-head .rgt{float:right;font-size:14px; color:#787878;margin-right:38px;}
/*天天利财公告*/
.ttlc-gg{background:#fff;margin-top:20px;margin-bottom:20px; }
.ttlc-gg-con{padding:0 40px 40px 40px;}
.cpsm-box ul li a:hover{color:#153aa6; text-decoration:none;}

/*信金宝页面*/
.xjb-li{width:520px; overflow:hidden;margin-top:20px;}
.xjb-li span{float:left;height:30px; line-height:30px;width:220px; margin-right:10px; display:inline;color:#fff; background:url(xjb-banner-ico.png) no-repeat left center;padding-left:30px;}
.xjb-tj{overflow:hidden;width:1220px;margin-left:-20px; }
.xjb-tj dl{width:386px; float:left; height:405px; overflow:hidden;margin-left:20px; margin-bottom:20px; display:inline;}
.xjb-tj dl dt{text-align:center;color:#fff; height:105px;width:386px;padding-top:40px;}
.xjb-tj dl dt h2{font-size:24px;color:#fff; height:40px; line-height:40px;}
.xjb-tj dl dt span{font-size:18x;color:#fff;}
.xjb-tj dl dd{background:#fff; text-align:center; height:240px;padding:10px 0;}
.xjb-tj dl dd .line-1{font-size:16px; height:40px; line-height:40px;}
.xjb-tj dl dd .line-2{height:70px; line-height:70px;font-size:40px;color:#ed404a;}
.xjb-tj dl dd .line-3{ color:#787879;font-size:14px; line-height:30px;height:30px;}
.xjb-tj dl dd .line-4{width:181px; height:31px;  margin:30px auto 0 auto;}
.xjb-tj dl dd .line-4 a{color:#f45d55;width:179px; height:29px;line-height:29px; text-align:center;border:1px solid #f45d55; display:block;}
.xjb-tj dl dd .line-4 a:hover{background:#f45d55; color:#fff; text-decoration:none;}
.xjb-ywgz{background:#fff;}

.xjb-ywgz{margin-bottom:20px;}
.xjb-ywgz .ttlc-module-head .rgt{background:url(xjb-ywgz-up.gif) no-repeat right center;padding-right:15px;}
.xjb-ywgz .ttlc-module-head .rgt.on{background:url(xjb-ywgz-down.gif) no-repeat right center;padding-right:15px;}